@use './base.scss';
@use 'primeflex/primeflex.css';


:root {
	font-size: 14px;
}

@media (min-width: 960px) {
	:root {
		font-size: 16px !important;
	}
}

body {
	color: var(--color-text);
	background: var(--color-background);
	line-height: 1.2;
	font-family:
		Inter,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		'Fira Sans',
		'Droid Sans',
		'Helvetica Neue',
		sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
}

.bg-soft {
	background-color: var(--color-background-soft);
}

.bg-mute {
	background-color: var(--color-background-mute);
}

.bg-accent {
	background-color: var(--color-accent);
}

// make a few options for line clamp with different line numbers. iterate with scss
@for $i from 1 through 5 {
	.line-clamp-#{$i} {
		-webkit-line-clamp: $i;
		line-clamp: $i;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}
}

.text-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.text-muted {
	opacity: .7;
}
.text-small {
	font-size: 0.8em;
}

.text-primary {
	color: var(--p-primary-color);
}

.text-upper {
	text-transform: capitalize;
}

.link {
	color: var(--p-primary-color);
	cursor: pointer;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

.pi {
	--p-icon-size: 1em;
}



.spin {
	animation: spin 1500ms linear infinite;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}


.material-symbols-outlined {
	font-size: 1.2em;
}


.no-select {
	user-select: none;
}

.square {
	aspect-ratio: 1;
}

.flex-center-row {
	@extend .flex;
	@extend .align-items-center;
}

.flex-center-col {
	@extend .flex;
	@extend .flex-column;
	@extend .justify-content-center;
}

.flex-center-all {
	@extend .flex;
	@extend .align-items-center;
	@extend .justify-content-center;
}




:root {
	--p-text-color: var(--color-text) !important;
	--p-text-hover-color: var(--color-text) !important;

	--p-content-background: var(--color-background) !important;
	--p-content-border-color: var(--color-background-mute) !important;
	--p-overlay-modal-background: var(--color-background-soft) !important;
	--p-overlay-modal-border-color: var(--color-background-mute) !important;
	
	--p-form-field-color: var(--color-text) !important;
	--p-form-field-background: var(--color-background-mute) !important;

	--p-navigation-item-focus-background: var(--color-background-mute) !important;
}






[tv-focus] {
	outline: 2px solid var(--color-contrast) !important;
	outline-offset: 2px !important;
	filter: drop-shadow(0 0 5px #000);
	border-radius: .5rem;
	z-index: 9999;
}